/* NAV SECTION */
nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}


.nav .nav--profile {
  padding: 0 24px;
}

.user-profile-pic {
  width: 50px;  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 200ms ease-in-out;
}

@media (max-width: 768px) {
  .nav .nav--profile {
      padding: 0 10px;
  }

  .nav .nav--cart {
      padding: 0 10px;
  }

  .nav .nav--profile .user-profile-pic {
      width: 10px;
  }
}

.nav .nav--profile .user-profile-pic:hover {
  border: 2px solid orange;
}




/* main SECTION */
.mainDiv {
  background-color: #006699;
  color: #fff;
  height: 100%;
  width: 90%;
  margin: 10px auto;
  
  
}
.leftDiv {
  /* background-color: #efefef; */
  color: #000;
  height: 400px;
  width: 48%;
  float: left;
}
.rightDiv {
  color: #000;
  height: 400px;
  width: 48%;
  float: right;
  overflow: hidden;
font-size: 13px;}

/* SLIDER SECTION */

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  width: 600px;
  padding: 10px;
}


#featured {
  max-width: 350px;
  max-height: 600px;
  object-fit: cover;
  cursor: pointer;
  border-radius:25px;
}

.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border-radius:25px;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
  max-width: 200px;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

.left{
  float: left;
}

.Right{
  float: right;
}

/* ADDING PRODUCT TO CART */

 .add-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.quantity {
  width: 155px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2px;
  border-radius: 10px;
  background-color: rgba(58, 58, 58, 0.041);
  color: darkblue;
  font-weight: 700;
}

.quantity-btn {
  border: 0;
  outline:0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 200ms ease-out;
}

@media (max-width: 576px) {
.add-product {
      width: 100%;
      flex-direction: column;
  }

 .quantity-btn {
      width: 60px;
  }

 .num-products {
      font-size: 22px;
  }
.add-product > *{
      width: 100% !important;
      margin-left: 0 !important;
      margin-bottom: 18px;
  }
}

 .add-to-cart-btn {
  width: 272px;
  height: 57px;
  border: none;
  outline: none;
  margin-left: 15px;
  border-radius: 10px;
  background-color: rgb(219, 130, 29);
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

 .add-to-cart-btn.disable-btn {
  opacity: 0.565;
}

 .add-to-cart-btn:hover {
  opacity: 0.565;
}


/* price section */


@media (max-width: 576px) {
 .priceDiv {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
}

.price{
  font-size: 30px;
  color: black;
  margin-bottom: 0;
}

.percentage{
  margin-left: 17px;
  padding: 4px 8px;
  background-color: orange;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  float: right;
}

.originalPrice {
  text-decoration: line-through;
  color: rgb(87, 115, 138);
  margin-top: 10px;
}

.thumbnail:active, .thumbnail{
  opacity: 0.4;
  filter: alpha(opacity=40); 
  border-radius: 20px;
}

/* CART UI */
#cartUI{
  width: 25%;
  text-align: center;
  margin-top: 20px;
  z-index: 1000;
	position: absolute;
  top: 10%;
  right: 10%;  
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 1px 4px 34px 10px rgba(212,212,212,0.75);
  -webkit-box-shadow: 1px 4px 34px 10px rgba(212,212,212,0.75);
  -moz-box-shadow: 1px 4px 34px 10px rgba(212,212,212,0.75);

} 

.items {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-left: 10px;
  align-items: center;
}

.pricing{
  display: inline;
}